<div class="cart-container">
    <div class="cart-item-details">
        <div class="cart-item" *ngFor="let cartProduct of cartProducts">
            <img *ngIf="cartProduct.product.image" src="{{cartProduct.product.image}}" />
            <div class="cart-panel">
                <p>{{cartProduct.product.name}}</p>
                <p>{{cartProduct.product.price}}€</p>
                <p>
                    <app-quantity-dropdown [product]="cartProduct.product" [showAddButton]="false" [selectedQuantity]="cartProduct.quantity"></app-quantity-dropdown>
                </p>
                <p class="item-total-price">{{ cartProduct.product.price * cartProduct.quantity }}€</p>
            </div>
        </div>
    </div>
   
</div>